header {
  background-color: #2e3a46;
  height: 80px;
  display: flex;
  align-items: center;
  color: #1ed760;
}
header i {
  font-size: 50px;
}
header .form-select {
  width: 200px;
  margin-right: 20px;
}

main {
  margin-top: 80px;
}

body {
  background-color: #1e2d3b;
}

#album {
  width: calc(100% / 6);
  list-style: none;
  color: white;
  background-color: #2e3a46;
}
#album img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
}
